<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
    <% if (errorMessage) { %>
      <div><%= errorMessage %></div>
    <% } %>
  <form action="/login" method="post" novalidate>
    <div>
      <label for="email">Epost</label>
      <input type="email" name="email" id="email" value="<%= inputData.email %>">
    </div>
    <div>
      <label for="password">Lösenord</label>
      <input type="password" name="password" id="password" value="<%= inputData.password %>">
    </div>
    <div>
      <button type="submit">Logga in</button>
    </div>
  </form>
</body>
</html>