<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Registrering</title>
  </head>
  <body>
    <h1>Registrering</h1>
    <% if (errorMessage) { %>
      <div><%= errorMessage %></div>
    <% } %>
    <form action="/signup" method="POST" novalidate>
      <div>
        <label for="first-name">Förnamn</label>
        <input type="text" name="firstName" id="first-name" />
      </div>
      <div>
        <label for="last-name">Efternamn</label>
        <input type="text" name="lastName" id="last-name" />
      </div>
      <div>
        <label for="email">Epost</label>
        <input type="email" name="email" id="email" />
      </div>
      <div>
        <label for="telephone">Telefon</label>
        <input type="tel" name="telephone" id="telephone" />
      </div>
      <div>
        <label for="position">Jobbtitel</label>
        <input type="text" name="position" id="position" />
      </div>
      <div>
        <label for="street">Gatuaddress</label>
        <input type="text" name="street" id="street" />
      </div>
      <div>
        <label for="street">Postkod</label>
        <input type="number" name="zip" id="zip" />
      </div>
      <div>
        <label for="city">Postort</label>
        <input type="text" name="city" id="city" />
      </div>
      <div>
        <label for="registration-number">Organisationsnummer</label>
        <input type="text" name="registrationNumber" id="registration-number" />
      </div>
      <div>
        <label for="vat-number">Momsregnr</label>
        <input type="text" name="vatNumber" id="vat-number" />
      </div>
      <div>
        <label for="bankgiro">Bankgiro</label>
        <input type="text" name="bankgiro" id="bankgiro" />
      </div>
      <div>
        <label for="password">Lösenord</label>
        <input type="password" name="password" id="password" />
      </div>
      <div>
        <label for="confirm-password">Bekräfta lösenord</label>
        <input type="password" name="confirmPassword" id="confirm-password" />
      </div>
      <button type="submit">Registrera dig</button>
    </form>
  </body>
</html>
