.form-wrapper {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  display: block;
  border: 1px solid #878686;
  padding: 2rem;
  background: #fbfbfb
}

.invoice-header {
  font-size: 1.2rem;
  color: #4c4c4c;
  padding: 2rem 0;
  margin: 1rem 0;
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #786f6f;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.invoice-row {
  margin: 2rem 0;
  border-bottom: 1px solid #878686;
}

.invoice-row .btn {
  margin: 2rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #646464;
  background-image: none;
}

.select {
  position: relative;
  display: block;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #646464;
  pointer-events: none;
}
.select:hover::after {
  color: white;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
