.form-wrapper {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  display: block;
  border: 1px solid #878686;
  padding: 2rem;
  background: #fbfbfb
}

.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
}

.form-control input {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus {
  outline-color: #786f6f;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: red;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #4c4c4c;
  color: #4c4c4c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #4c4c4c;
  color: white;
}


