.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px #00000042;
  position: relative;
}

.card__header {
  padding: 1rem 1rem 0 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__actions {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #4c4c4c;
  width: 2.5rem;
  border: none;
}

.delete-btn:hover,
.delete-btn:focus,
.delete-btn:active{
  color: #000000;
  outline: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.invoice-item {
  width: 30rem;
  max-width: 95%;
  margin: 1rem;
}

.invoice__title {
  font-size: 1.4rem;
  text-align: center;
  color: #4c4c4c;
}


.invoice__total {
  text-align: center;
  font-size: 1.2rem;
  color: #4c4c4c;
  margin-bottom: 0.5rem;
}

.invoice__number, .invoice__date {
  text-align: center;
  color: #4c4c4c;
}

.invoice-filter {
  font-size: 1rem;
  height: 2rem;
  padding: 1.2rem;
  display: block;
  width: 40%;
  margin: 2rem auto;
  border: 0.5px solid #b0abab;
}

.invoice-filter:focus {
  outline: none;
  background: #eeeff1;
}



