<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="">Gamla Fakturor</a>
        </li>
        <li>
          <a href="">Ny Faktura</a>
        </li>
      </ul>
      <ul>
        <li>
          <form action="/logout" method="post">
            <button type="submit">Logga ut</button>
          </form>
        </li>
      </ul>
    </nav>
    <main>
      <h1>Welcome!</h1>
    </main>
    <footer></footer>
  </body>
</html>
